:root{
    --ps-gray: #363636;
    --ps-dark-gray: #1F1F1F;
    --ps-red: #cd3d0f;
    --ps-blue: #2D64E6;
    --ps-dark-blue: #161c3b;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{max-width: 100%;}

.sony-logo{
    width: 6rem;
}

.bg_ps_gray{
    background-color: var(--ps-gray);
}

.bg_ps_red{
    background-color: var(--ps-red);
}

.bg_ps_blue{
    background-color: var(--ps-blue);
}

.jumbotron{
    background-color: var(--ps-blue);
    height: 40rem;
}

.acquista-ora{
    width: 9rem;
    text-align: center;
}

.w-550-px{
    max-width: 550px;
}

.w-95{
    width: 95vw;
}

.c-ps-blue{
    color: var(--ps-blue);
}

.mt-8rem{
    margin-top: 8rem;
}

.fs-3-5rem{
    font-size: 3.5rem;
}

.game{
    max-width: 100%;
    min-width: 250px;
}

.playstation5-products{
    flex-wrap: wrap;
}

.product{
    width: calc(100% / 5);
}

.product-selected{
    border-bottom: 5px solid var(--ps-blue);
}

.product-unselected:not(:hover){
    filter: opacity(75%);
}

.nuove-uscite{
    background-color: var(--ps-dark-gray);
}

@media screen and (max-width: 760px){

    .product{
        width: calc(100% / 3);
    }
}