:root{
    --ps-even-lighter-gray: #F5F5F5;
    --ps-lighter-gray: #D9DADC;
    --ps-light-gray: #BEBCBB;
    --ps-gray: #363636;
    --ps-dark-gray: #1F1F1F;
    --ps-red: #cd3d0f;
    --ps-blue: #2D64E6;
    --ps-dark-blue: #161c3b;

    --twitter:#1DA1F3;
    --facebook: #1878F3;

    --youtube:#C5312C;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{max-width: 100%;}

.sony-logo{
    width: 6rem;
}

.nav-links{
    display: flex;
}

.bg_ps_gray{
    background-color: var(--ps-gray);
}

.bg_ps_red{
    background-color: var(--ps-red);
}

.bg_ps_blue{
    background-color: var(--ps-blue);
}

.bg_ps_lighter_gray{
    background-color: var(--ps-lighter-gray);
}

.jumbo-returnal{
    background-image: url("../img/jumbo-bg.png");
}

.jumbo-ittakestwo{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

.jumbotron{
    background-color: #fefff1;
    background-position: center center; /* First value is from left and second is from top. You can use use number as well*/
    background-repeat:no-repeat;
    background-color: var(--ps-blue);
    height: 40rem;
}

.acquista-ora{
    width: 9rem;
    text-align: center;
}

.w-550-px{
    max-width: 550px;
}

.w-95{
    width: 95vw;
}

.c-ps-blue{
    color: var(--ps-blue);
}

.mt-8rem{
    margin-top: 8rem;
}

.fs-3-5rem{
    font-size: 3.5rem;
}

.game{
    max-width: 100%;
    min-width: 250px;
}

.playstation5-products{
    flex-wrap: wrap;
}

.product{
    width: calc(100% / 5);
}

.product-selected{
    border-bottom: 5px solid var(--ps-blue);
}

.product-unselected:not(:hover){
    filter: opacity(75%);
}

.nuove-uscite{
    background-color: var(--ps-dark-gray);
}

.ps-plus{
    background-color: var(--ps-light-gray);
}

.ps-now{
    background-color: var(--ps-dark-blue);
}

.ps-plus-image,.ps-now-image{
    min-width: 50%;
}

.ps-plus-image>img,.ps-now-image>img{
    flex-grow: 1;
    min-height: 100%;
}

.ps-now-text{
    color: white;
}

.bg_ps_even_lighter_gray{
    background-color: var(--ps-even-lighter-gray);
}


.twitter,
.facebook,
.instagram,
.youtube{
    width: 5.5rem;
    height: 5.5rem;
    font-size: 65px;
}

.twitter{
    background-color: var(--twitter);
}

.facebook{
    background-color: var(--facebook);
}

.instagram{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.youtube{
    background-color: var(--youtube);
}

.play-logo{
    width: 11rem;
    filter: saturate(0%) brightness(0%) invert(100%);
}

footer{
    background-color: var(--ps-blue);
}

.footer-markup{
    display: flex;
    flex-direction: column;
}

.visible-xl,
.nav-links,
.nav-user{
    display: none;
}

.visible-lg{
    display: block;
}

ul{
    list-style-type: none;
}

@media (min-width: 1200px){

    .nav-menu{
        display: none;
    }

    .visible-xl{
        display: block;
    }

    .nav-links,
    .nav-user{
        display: flex;
    }

    .visible-lg{
        display: none;
    }

    .footer-markup{
        flex-direction: row;
    }
}

@media screen and (max-width: 768px){

    .ps-plus-image,
    .ps-now-image{
        display: none;
    }

    .product{
        width: calc(100% / 3);
    }

    .footer-markup{
        flex-direction: column;
    }

    .footer-right{
        flex-direction: column;
    }
}

@media (max-width: 576px){

    .social-links{
        flex-wrap: wrap;
    }

    .twitter,
    .facebook,
    .instagram,
    .youtube{
        width: 12rem;
        height: 12rem;
        font-size: 140px;
    }
}